/* FOR MOBILE PHONES */

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Roboto Mono", monospace;
  z-index: 0;
  margin-top: 40px;
}

#about ul {
  display: flex;
  padding-left: 0;
}

#about p {
  width: 50vw;
  font-size: 15px;
  margin-right: 10px;
}

@keyframes colorAnimation {
  0% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
  50% {
    background-color: #272822;
    border-color: rgb(0, 255, 0);
  }
  100% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
}

@keyframes colorAnimationSpan {
  0% {
    color: rgba(0, 255, 0, 0.15);
  }
  50% {
    color: rgb(0, 255, 0);
  }
  100% {
    color: rgba(0, 255, 0, 0.15);
  }
}

#skills {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 50vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #272822;
  border: #0f0 2px solid;
  border-left: #0f0 2px dashed;
  padding: 20px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  animation: colorAnimation 7s linear infinite;
}

#skills::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #272822;
  border-radius: 10px;
  background-color: #272822;
}

#skills::-webkit-scrollbar {
  width: 6px;
  background-color: #272822;
}

#skills::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #494949;
}

#skills li {
  list-style: none;
  margin-right: 15px;
}

#bass {
  width: 30vw !important;
  max-width: 380px;
  z-index: 1000;
}

#info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto 20px auto;
}

#info span {
  color: #0f0;
  animation: colorAnimationSpan 7s linear infinite;
}

.logo-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80vw;
}

.logo {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0f0;
  border-left: 2px dashed #0f0;
  width: 8vw;
  max-width: 500px;
  min-width: 50px;
  animation: colorAnimation 7s linear infinite;
  margin-bottom: 20px;
}

.logo img {
  width: 5vw !important;
  min-width: 40px;
}

/* FOR TABLETS */

@media only screen and (min-width: 600px) {
}

/* FOR DESKTOP */

@media only screen and (min-width: 768px) {
  #about {
    flex-direction: row;
    margin-top: 110px;
    align-items: center;
  }

  #about p {
    font-size: 1.7vw;
    margin-left: 50px;
    margin-right: 50px;
    width: 30vw;
  }

  #info {
    flex-direction: column;
    height: 400px;
    margin: 0 auto;
  }

  #skills {
    height: 65vh;
    width: 50vw;
    min-height: 480px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  #about p {
    font-size: 20px;
  }
}
