/* FOR MOBILE PHONES */

#resume-div {
  margin-top: 75px;
  height: 100vh;
  overflow: hidden;
}

iframe {
  overflow: hidden;
  border: 2px rgb(0, 255, 0) solid;
  border-left: 2px rgb(0, 255, 0) dashed;
  animation: colorAnimation 7s linear infinite;
}

@keyframes colorAnimation {
  0% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
  50% {
    background-color: #272822;
    border-color: rgb(0, 255, 0);
  }
  100% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
}

/* FOR TABLETS */

@media only screen and (min-width: 600px) {

}

/* FOR DESKTOP */

@media only screen and (min-width: 768px) {

}