/* FOR MOBILE PHONES */

#contact-div {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
  align-items: center;
  overflow-y: scroll;
  height: 80vh;
  padding: 0 50px;
}

#contact-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #272822;
  border-radius: 10px;
  background-color: #272822;
}

#contact-div::-webkit-scrollbar {
  width: 6px;
  background-color: #272822;
}

#contact-div::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(0, 255, 0);
}

#touch {
  text-align: center;
}

#links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  width: 70vw;
}

.link-wrapper > h2 > span {
  animation: colorAnimationSpan 7s linear infinite;
}

.link-wrapper a {
  width: 50%;
}

.link-wrapper h2 {
  font-size: 2vw;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.link {
  border: 2px rgb(0, 255, 0) solid;
  border-left: 2px rgb(0, 255, 0) dashed;
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: colorAnimation 7s linear infinite;
}

.link img {
  width: 75%;
}

/* FOR TABLETS */

@media only screen and (min-width: 600px) {

}

/* FOR DESKTOP */

@media only screen and (min-width: 768px) {

}