/* styles.css */

#email-div {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
  color: white;
  padding-bottom: 20px;
}

#info-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}

label {
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

input {
  border: 2px rgb(0, 255, 0) solid;
  border-left: 2px rgb(0, 255, 0) dashed;
  height: 2vw;
  width: 80%; 
  max-width: 400px; 
  padding: 1vw 2vw; 
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 2vw;
  outline: none;
  animation: colorAnimation 7s linear infinite;
}

textarea {
  border: 2px rgb(0, 255, 0) solid;
  border-left: 2px rgb(0, 255, 0) dashed;
  height: 20vw;
  width: 30vw; /* Adjusted width to be 80% of the parent container */
  resize: none;
  font-family: "Roboto Mono", monospace;
  font-size: 2vw; /* Adjusted font size using vw units */
  padding: 1vw 2vw; /* Adjusted padding using vw units */
  color: white;
  outline: none;
  animation: colorAnimation 7s linear infinite;
}

#message {
  display: flex;
  flex-direction: column;
}

.subject {
  display: flex;
  flex-direction: column;
}

@keyframes colorAnimationSpan {
  0% {
    color: rgba(0, 255, 0, 0.15);
  }
  50% {
    color: rgb(0, 255, 0);
  }
  100% {
    color: rgba(0, 255, 0, 0.15);
  }
}

@keyframes colorAnimationButton {
  0% {
    border-color: rgba(0, 255, 0, 0.15);
  }
  50% {
    border-color: rgb(0, 255, 0);
  }
  100% {
    border-color: rgba(0, 255, 0, 0.15);
  }
}

@keyframes colorAnimation {
  0% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
  50% {
    background-color: #272822;
    border-color: rgba(0, 255, 0, 0.836);
  }
  100% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
}

.span-email {
  animation: colorAnimationSpan 7s linear infinite;
}

#h1-email {
  text-align: center;
  margin: 5vw 0; /* Adjusted margin using vw units */
  font-size: 2vw;
}

#email-button {
  text-align: center;
  border-bottom: 0.3px rgb(0, 255, 0) solid;
  font-size: 1.5vw;
  padding: 1vw; /* Adjusted padding using vw units */
  width: 35%; /* Adjusted width to be 40% of the parent container */
  animation: colorAnimationButton 7s linear infinite;
  cursor: pointer;
}
