/* FOR MOBILE PHONES */

#projects-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 130px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto Mono", monospace;
  height: 85.9vh;
  overflow-y: scroll;
}

#projects-page::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #272822;
  border-radius: 10px;
  background-color: #272822;
}

#projects-page::-webkit-scrollbar {
  width: 6px;
  background-color: #272822;
}

#projects-page::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #494949;
}

.project {
  width: 670px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272822;
  border: #0f0 2px solid;
  border-left: #0f0 2px dashed;
  margin-bottom: 40px;
  animation: colorAnimation 7s linear infinite;
}

.project img {
  width: 100%;
  border: #0f0 2px solid;
  animation: colorAnimation 7s linear infinite;
}

.project-img {
  max-width: 100%;
  width: auto !important;
}

.project-logo-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding-left: 20px;
  margin-top: 8px;
}

.project-logo-list li {
  width: 60px;
}

.project-logo {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0f0;
  border-left: 2px dashed #0f0;
  width: 50px;
  animation: colorAnimation 7s linear infinite;
  margin-bottom: 20px;
}

.project-logo img {
  width: 75% !important;
  border: 0 !important;
  max-height: 90%;
}

#github {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

#github .project-logo {
  margin-right: 10px;
}

@keyframes colorAnimation {
  0% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
  50% {
    background-color: #272822;
    border-color: rgba(0, 255, 0, 0.836);
  }
  100% {
    background-color: #27282200;
    border-color: rgba(0, 255, 0, 0.15);
  }
}

@keyframes colorAnimationSpan {
  0% {
    color: rgba(0, 255, 0, 0.15);
  }
  50% {
    color: rgb(0, 255, 0);
  }
  100% {
    color: rgba(0, 255, 0, 0.15);
  }
}

.bracket {
  animation: colorAnimationSpan 7s linear infinite;
}

.project-info {
  width: 70%;
  margin-right: 10px;
}

.tech-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 98%;
  margin-top: 27px;
}

.tech-info h3 {
  margin: 0;
  font-size: 15px;
}

h2 {
  font-size: 20px;
}

/* FOR TABLETS */

@media only screen and (min-width: 600px) {
}

/* FOR DESKTOP */

@media only screen and (min-width: 768px) {
  .project {
    flex-direction: row;
    align-items: normal;
    padding: 20px;
  }

  .project-img {
    height: 225px;
  }

  .tech-info h3 {
    font-size: 1.17em;
  }

  #projects-page h2 {
    font-size: 1.5em;
  }

  .tech-info {
    width: 40%;
  }

  .project {
    width: 670px;
    height: 420px;
    display: flex;
    align-items: center;
    background-color: #272822;
    border: #0f0 2px solid;
    border-left: #0f0 2px dashed;
    margin-bottom: 40px;
    animation: colorAnimation 7s linear infinite;
  }

  .project-logo-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 55%;
    list-style: none;
    padding-left: 20px;
    margin-top: 8px;
  }
}
